html {
  font-family: Helvetica, Arial;
}
input {
  font-size: 20px;
}
a {
  font-size: 20px;
  text-decoration: none;
  padding-left: 220px;
}
h1 {
  padding-top: 20px;
  text-align: center;
}
input[type=text], select {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 0px 15px 3px 15px;
}
form {
  width: 400px;
}
#my-form {
  position: relative;
  margin: auto;
  margin-top: 150px;
  width: 400px;
}
span {
  color: #FF0099;
  position: relative;
  padding-left: 10px;
}